* {
	margin: 0;
	padding: 0;
}


body {
	width: 100%;
	flex-direction: column;
	flex: 1;
	background: url(../img/background.jpg);
	font-weight: bolder;
	text-indent: 2em;
}

header {
	display: flex;
	justify-content: center;
}

p,
figcaption {
	padding: 10px;
	font-weight: bold;
}

nav article {
	display: flex;
	width: 92%;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
	align-items: baseline;
	text-indent: 0;
}

nav article p {
	width: 7em;
}

nav article img {
	transition: all 0.3s;
}

nav article img:hover {
	transform: scale(1.2);
}

nav {
	margin-left: 2%;
}

nav section {
	margin-left: 5%;
}

ul {
	list-style-type: none;
}

.sec1 {
	display: flex;
	flex-direction: column;
}

.sec1 ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sec1 .pic3 {
	width: 275px;
}
.pic4,
.pic5 {
	width: 680px;
}


a {
	text-decoration: none;
}

 .sec2 h1 {
	margin-top: 15px;
}

.art1 {
	display: flex;
	width: 81%;
	margin: 0 auto;
	flex-direction: column;
	border: 5px solid black;
	border-radius: 50px;
	margin-top: 5px;
	padding: 20px;
	font-weight: bolder;
}
 img[alt="person"] {
	width: 10%;
	height: 30%;
	border-radius: 50%;
	margin-top: -1em;
}

section[title="person"] {
	display: flex;
}

section[title="person"] p {
	text-indent: 2em;
	margin-left: 15px;
}

section[title="person"] a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.sec1 {
	display: flex;
	flex-direction: column;
}

.sec1 ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.sec2 ul {
	display: flex;
	margin-left: -10px;
}

.sec2 ul li figure {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.sec2 {
	padding-bottom: 20px;
}

.sec2 img {
	width: 26%;
}

.sec2 ul> :first-child+li {
	margin-left: 15px;
}

figure p:last-child{
	border: 4px solid rgba(255, 255, 255, 0.5);
	margin-left: 25px;
}

.sec3 {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-bottom: 20px;
}

.sec3 ul {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}
.sec3 ul li figure {
	width: 100%;
}

.sec3 figcaption {
	text-align: center;
}

.sec3 ul li p {
	width: 88%;
	margin: 0 auto;
}
.sec3 ul li figure img {
	width: 90%;
	margin-left: 5%;
}

.sec3 ul> :first-child+li {
	margin-left: 15px;
}

.iframe-container {
	height: 0;
	padding-bottom: 37.6%;
	position: relative;
}

iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.pic6 {
	margin-left: 2em;
}

main>section {
	display: flex;
	flex-direction: column;
	width: 4%;
	height: 16em;
	background-color: #000000;
	position: fixed;
	color: white;
	transition: all 0.1s;
	text-indent: -1em;
}

main>section h1 {
	writing-mode: vertical-rl;
	text-indent: 1em;
}

main>section ul {
	display: none;
	list-style-type: none;
}

main>section ul li {
	margin-bottom: 5px;
}

main>section a {
	color: white;
}

main>section:hover ul {
	display: block;
}

main>section:hover {
	width: 15%;
	height: 20rem;
	padding: 0 2rem;
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 14px;
		text-indent: 0;
	}

	h1 {
		font-size: 20px;
	}

	nav article p {
		width: 80px;
	}

	nav article {
		font-size: 12px;
		font-weight: 100;
		text-indent: 0;
	}

	nav article img {
		width: 30%;
	}

	nav {
		margin-left: 3.5rem;
	}

	nav section {
		margin-left: -0.8rem;
	}

	.art1 {
		text-indent: 1em;
	}

	figcaption {
		margin: 0 auto;
	}

	.art1 .person {
		display: flex;
		flex-direction: column;
	}

	.art1 img[alt="person"] {
		width: 30%;
		margin: 0 auto;
		border-radius: 50%;
	}

	.pic6 {
		margin-left: 1rem;
	}

	main>section {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	main>section {
		display: none;
	}
}

footer section a {
	display: block;
	width: 100px;
	height: 20px;
	border: 1px solid #CCC;
	background: #FFF;
}
